body {
  height: 120vh;
  width: 100vw;
  background-color:gray;
  justify-content: center;
  align-items: center;
  display: flex;
}

h2 {
  text-align: center;
}

header {
  text-align: center;
}

.App {
  padding: 25px;
  box-shadow: 0 0 40px 0 black;
  justify-content: center;
  align-items: center;
}

.corpo {
  display: flex;
}


.mostra-atual {
  height: 40px;
  width: 250px;
  padding-right: 3px;
  background-color: green;
  text-align: right;
  font-size: 28px;
  overflow-x: hidden;
}

.mostra-antigo {
  height: 32px;
  width: 250px;
  padding-right: 3px;
  background-color: green;
  text-align: right;
  font-size: 24px;
  overflow-x: hidden;
}


.b-num,
.b-lim,
.b-apa,
.b-vir,
.b-ope,
.b-igu,
.b-limM,
.b-ultM,
.b-somM,
.b-salM {
  display: block;
  height: 63px;
  width: 60px;
  border: 1px solid black;
  font-size: 22px;
}

.b-num {
  background-color: black;
  color: white;
}

.b-vir,
.b-igu,
.b-lim,
.b-apa {
  background-color: darkslategrey;
  color: white;
}


.b-ope {
  background-color: red;
  color: black;
}

.b-limM,
.b-ultM,
.b-somM,
.b-salM {
  background-color: blueviolet;
}

.b-num:hover,
.b-lim:hover,
.b-apa:hover,
.b-vir:hover,
.b-ope:hover,
.b-igu:hover,
.b-limM:hover,
.b-ultM:hover,
.b-somM:hover,
.b-salM:hover {
  border-color:yellow;
}

.b-num:focus,
.b-lim:focus,
.b-apa:focus,
.b-vir:focus,
.b-ope:focus,
.b-igu:focus,
.b-limM:focus,
.b-ultM:focus,
.b-somM:focus,
.b-salM:focus {
  outline: none;
}

table {
  float: right;
}


.armazenamento {
  height: 425px;
  width: 300px;
  justify-content: right;
  overflow-y: scroll;
}

.tabela-display {
  height: 12px;
  width: 200px;
  background-color: darkblue;
  color: white;
  text-align: right;
  padding-right: 5px;
  font-size: 17px;
}

table .b-apaM,
table .b-recM {
  height: 30px;
  color: black;
  background-color: blueviolet;
  font-size: 14px;
}

table .b-apaM:hover,
table .b-recM:hover {
  border-color: yellow;
}

table .b-apaM:focus,
table .b-recM:focus {
  outline: none;
}

.butts {
  display: grid;
  padding-top: 10px;
  grid-template-columns: repeat(4, 65px);
  grid-template-rows: repeat(6, 75px);
  align-items: center;
  grid-template-areas:
    "lim ult som sal"
    "soma subtracao multiplicacao divisao"
    "limpar apagar igual igual"
    "sept huit neuf virgula"
    "quatre cinq six zero"
    "un deux trois zero";
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: darkslategrey;
}

::-webkit-scrollbar-thumb:hover {
  background: blue;
}
::-webkit-scrollbar-thumb:active {
  background: orange;
}

#limpar {
  grid-area: limpar;
}

#apagar {
  grid-area: apagar;
}

#multiplicacao {
  grid-area: multiplicacao;
}

#divisao {
  grid-area: divisao;
}

#sept {
  grid-area: sept;
}

#huit {
  grid-area: huit;
}

#neuf {
  grid-area: neuf;
}

#subtracao {
  grid-area: subtracao;
}

#quatre {
  grid-area: quatre;
}

#cinq {
  grid-area: cinq;
}

#six {
  grid-area: six;
}

#soma {
  grid-area: soma;
}

#un {
  grid-area: un;
}

#deux {
  grid-area: deux;
}

#trois {
  grid-area: trois;
}

#zero {
  grid-area: zero;
  height: 138px;
}

#virgula {
  grid-area: virgula;
}

#igual {
  grid-area: igual;
  width: 125px;
}

#lim {
  grid-area: lim;
}

#ult {
  grid-area: ult;
}

#som {
  grid-area: som;
}

#sal {
  grid-area: sal;
}